@import url('/static/site.css');

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 4.6em);
}

.login-container, .sign-up-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 22rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-form form {
    margin-bottom: 15px;
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 0.6em;
    font-family: Arial, sans-serif;
    color: #333;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    font-weight: bold;
}

.login-form label.checkbox-inline {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.login-form a.pull-right {
    font-size: 14px;
    color: #007bff;
}

.login-form p.text-center {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form a {
    font-size: 14px;
    color: #007bff;
}

.login-form a:hover {
    text-decoration: none;
}

.checkbox-inline {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 0.2em;
}

.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.error-message {
    padding: 0.5em;
    margin: 0em;
}

#error-container {
    margin: 0em;
    width: 100%;
    height: 3.5em;
}