{% extends "core/core_base.html" %}
{% block title %}
Welcome
{% endblock %}
{% block content %}
<div class="row m-3">
    <div class="rounded border p-0">
        <div class="d-flex justify-content-between p-3">
            <h2 class="mb-0">Exercises</h2>
            <button class="btn btn-primary btn-sm exercise-btn">Add</button>
        </div>
        <table class="table m-0">
            <tbody id="exercise-table-body">
                <tr id="exercise-row">
                    <td id="exercise-data" colspan="2">
                        <form id="add-exercise-form" method="POST" action="{{ url_for('core.save_exercise') }}">
                            {{ form.csrf_token }}
                            {{ form.exercise(class="form-control") }}
                        </form>
                    </td>
                </tr>
                {% for exercise in exercises %}
                <tr>
                    <td class="editable-td" data-id="{{ exercise.id }}">{{ exercise.name }}</td>
                    <td class="remove-btn">HEEE</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}