@import url('/static/site.css');

#exercise-table-body td {
    position: relative;
    padding: 0.7rem 0.5rem;
    border-top: 1px solid;
    border-color: inherit;
} 

.form-control {
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

#exercise-row {
    display: none;
}

.btn-sm {
    width: 4em;
}

.editable-td {
    width: 92%;
}

.remove-btn {
    width: 8%;
    text-align: end;
}

.header-btn {
    display: flex;
    justify-content: end;
    border-bottom: 0;
}