@import url('/static/site.css');

#exercise-table-body td tr {
    position: relative;
    padding: 0.7rem 0.5rem;
    border-top: 1px solid;
    border-color: inherit;
}

#exercise-table-header {
    vertical-align: middle;
    height: 3.4em;
}

.exercise-btn {
    margin-right: 3px;
}

.form-control {
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

.row-input {
    display: none;
}

.btn-sm {
    width: 4em;
}

.remove-btn {
    width: 8%;
    text-align: end;
    border-top-width: 1px;
}

#header-btn {
    text-align: end;
    border-bottom-width: 1px;
}

table tr {
    white-space: nowrap;
}

div.wrapper {
    height: 42vh;
    overflow-y: auto;
}