@import url('/static/site.css');

#exercise-table-body td {
    position: relative;
    padding: 0.7em;
    border-top: 1px solid;
    border-color: inherit;
}

.form-control {
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

.btn-sm {
    width: 4em;
}

#exercise-row {
    display: none;
}

table td {
    width: 3700px;
}