<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    {{ bootstrap.load_css() }}
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css', _external=False)}}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <navbar>{% include "navigation.html" %}</navbar>
    <main class="container-fluid p-0">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row m-0">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4"></div>
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
    {{ bootstrap.load_js() }}
</body>

</html>