<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <nav class="navbar">
            <div class="logo">FitTrackr</div>
            <ul class="nav-links">
                <div class="menu">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth_bp.logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth_bp.login') }}">Log in</a></li>
                        <li><a href="{{ url_for('auth_bp.signup') }}">Sign-up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>