<nav class="navbar">
    <a class="logo" href="{{ url_for('core.index') }}">FitTrackr</a>
    <ul class="nav-links">
        <div class="menu">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
            {% else %}
                <li><a id="login" href="{{ url_for('auth.login') }}">Log in</a></li>
                <li><a href="{{ url_for('auth.signup') }}">Sign-up</a></li>
            {% endif %}
        </div>
    </ul>
</nav>