{% extends "layout.html" %}
{% block title %}
    Signup
{% endblock %}
{% block content %}
    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Sign-up</h2>       
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign-up</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox">Remember me</label><br>
            </div>        
        </form>
        <p class="text-center"><a href="#">Login</a></p>
    </div>
{% endblock %}